﻿@model IEnumerable<DAL.ViewModel.RacunarVM>
@using DAL.Models;

@{
    ViewBag.Title = "Računari";
    var numberOfPages = (int)ViewBag.numberOfPages;
    var currentPage = (int)ViewBag.currentPage;

    //filteri
    var searchInput = (string)ViewBag.searchInput;
    var selectedSistem = (string)ViewBag.selectedSistem;
    var selectedProcessor = (string)ViewBag.selectedProcessor;
    var listOfSistems = (List<OperativniSistem>)ViewBag.ListaSistema;
    var listOfProcessors = (List<Procesor>)ViewBag.ListaProcesora;

    //fatal error
    var fatalError = (string)ViewBag.fatalError;
}

@if (fatalError != null)
{
    <div class="alert alert-danger">
        @fatalError.ToString()
    </div>
}
<div class="container-style">
    @*filteri za pretragu klijenata i dugme za dodavanje novog klijenta*@
    <div id="filterWrapper">
        <form action="/Racunar/Index" method="get" class="form-inline">
            <a href="" data-toggle="modal" data-target="#infoModal" class="mr-1" title="Informacije o pretrazi..."><i class="fa fa-info-circle icon-size" aria-hidden="true" style="color:#168ece"></i></a>
            <input id="searchInput" type="text" name="searchInput" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Pretraga..." value="@searchInput" />

            <select id="sistemSelect" name="sistemSelect" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option @(selectedSistem == "" ? "selected" : "") value="">Operativni sistem</option>
                @foreach (var item in listOfSistems)
                {
                    <option @(selectedSistem == item.OperativniSistemId.ToString() ? "selected" : "") value="@item.OperativniSistemId">@item.Name</option>
                }
            </select>

            <select id="processorSelect" name="processorSelect" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option @(selectedProcessor == "" ? "selected" : "") value="">Procesor</option>
                @foreach (var item in listOfProcessors)
                {
                    <option @(selectedProcessor == item.ProcesorId.ToString() ? "selected" : "") value="@item.ProcesorId">@item.Name</option>
                }
            </select>

            <button id="searchBtn" type="submit" class="btn createBtn form-control mb-2 mr-sm-2 mb-sm-0 pointer">Pretraži&nbsp;<i class="fa fa-search fa-fw"></i></button>

            <a id="clearFilterBtn" href="/Racunar/Index" class="btn btn-danger form-control mb-2 mr-sm-2 mb-sm-0 pointer">Očisti filtere&nbsp;<i class="fa fa-times fa-fw"></i></a>
        </form>
    </div>

    <div style="margin-bottom:2%;">
        @Html.ActionLink("Dodaj Računar", "Create", null, new { @class = "btn btn-info" })
    </div>
    @*tabela sa listom klijenata*@
    @if (Model.Count() > 0)
    {
        <table id="racunarTable" class="table">
            <thead>
                <tr>
                    <th scope="col" style="width:10%;">Klijent</th>
                    <th scope="col" style="width:10%;">Tip Računara</th>
                    <th scope="col" style="width:5%;">Procesor</th>
                    <th scope="col" style="width:10%;">Operativni Sistem</th>
                    <th scope="col" style="width:5%;">RAM</th>
                    <th scope="col" style="width:10%;">Grafička</th>
                    <th scope="col" style="width:10%;">Vrsta Memorije</th>
                    <th scope="col" style="width:10%;">Količina Memorije</th>
                    <th scope="col" style="text-align:center; width:10%;"></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr style="background: rgba(164, 209, 234, 0.1); ">
                    <td scope="row" data-label="Klijent">@Html.DisplayFor(modelItem => item.Klijent)</td>
                    <td data-label="Tip Računara">@Html.DisplayFor(modelItem => item.TipRacunara)</td>
                    <td data-label="Procesor">@Html.DisplayFor(modelItem => item.Procesor)</td>
                    <td data-label="Operativni Sistem">@Html.DisplayFor(modelItem => item.OperativniSistem)</td>
                    <td data-label="RAM">@Html.DisplayFor(modelItem => item.RAM)</td>
                    <td data-label="Grafička">@Html.DisplayFor(modelItem => item.Graficka)</td>
                    <td data-label="Vrsta Memorije">@Html.DisplayFor(modelItem => item.VrstaMemorije)</td>
                    <td data-label="Količina Memorije">@Html.DisplayFor(modelItem => item.KolicinaMemorije)</td>
                    <td style="text-align:right;">
                        <a class="btn editBtn" href='@Url.Action("Create", "Racunar", new {id = item.RacunarId, klijentId = 0})' title="Uredi"><i class="fa fa-pencil fa-wa" style="color:#696666;"></i></a>
                        <a class="btn editBtn" href='#' title="Izbriši" onclick="deleteRacunar(@item.RacunarId)"><i class="fa fa-trash fa-wa" style="color:#696666;"></i></a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert" style="text-align:center; background-color:rgba(175,175,175,0.1);">
            <h5>Nije pronađen nijedan računar</h5>
        </div>
    }

    @*paginacija*@
    @if (numberOfPages > 1)
    {
        <div class="container">
            <ul class="pagination pagging-alignment">
                <li class="page-item  @(currentPage == 0?"disabled":"") "><a class="page-link" href="/Racunar/Index?currentPage=@(currentPage-1)">Prethodni</a></li>

                @for (int i = 0; i < numberOfPages; i++)
                {
                    <li class="page-item @(currentPage == i?" active":"")"><a class="page-link" href="/Racunar/Index?currentPage=@i">@(i + 1)</a></li>
                }

                <li class="page-item @(currentPage == numberOfPages-1?"disabled":"")"><a class="page-link" href="/Racunar/Index?currentPage=@(currentPage+1)">Sljedeći</a></li>
            </ul>
        </div>
    }
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Pretraga se može vršiti po sljedećem parametru:
                <ul>
                    <li>Klijent</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteRacunar(racunarId) {
        swal({
            title: 'Dali ste sigurni?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Da, obriši!',
            cancelButtonText: 'Ne',
        }).then((result) => {
            if (result.value) {
                $.ajax({
            type: "POST",
            url: "/Racunar/Delete?id=" + racunarId + "&klijentId=0",
        success: (location.href = "/Racunar/Index"),
        dataType: "json"
    });
    }
    })
    }
</script>