﻿@model DAL.ViewModel.KasaCreateVM

@{
    ViewBag.Title = "Kasa";
}

@*div za ispit error poruka*@
<div id="errorMessages">
</div>

@*ajax forma za unos i editovanje kase*@
@using (Ajax.BeginForm("Create", "Kasa", new AjaxOptions { HttpMethod = "POST", OnSuccess = "response(data, status, xhr)" }))
{
    @Html.AntiForgeryToken()

    <div class="form">
        <div class="form-horizontal container-style" style="padding:5%;">
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.KasaId)

            <div class="form-group">
                <label for="@Model.KlijentId"><i style="color:red;" title="Klijent je obavezno polje">*Klijent</i></label>
                <div class="row" style="margin:0;">
                    <select name="KlijentId" id="KlijentId" class="form-control col-md-12">
                        <option @(Model.KlijentId == 0 ? "selected" : "") value="">Odaberite klijenta</option>
                        @foreach (var item in Model.Klijenti)
                        {
                            <option @(Model.KlijentId.ToString().Equals(item.Value) ? "selected" : "") value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="@Model.TipKaseId"><i style="color:red;" title="Tip kase je obavezno polje">*Tip Kase</i></label>
                <div class="row" style="margin:0;">
                    <select name="TipKaseId" id="TipKaseId" class="form-control col-md-7 mr-md-5">
                        <option @(Model.TipKaseId == 0 ? "selected" : "") value="">Odaberite tip kase</option>
                        @foreach (var item in Model.TipoviKasa)
                        {
                            <option @(Model.TipKaseId.ToString().Equals(item.Value) ? "selected" : "") value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <a href="" data-toggle="modal" data-target="#createTipKaseModal" class="btn createBtn col-md-2 " title="Dodaj Tip Kase"><i class="fa fa-plus" aria-hidden="true" style="margin:0;"></i></a>
                </div>
            </div>

            <button type="submit" class="btn btn-info form-control col-3">@(Model.KasaId == 0 ? "Dodaj" : "Izmjeni")</button>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="createTipKaseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*div u kojem se ispisuju error poruke*@
                <div id="errorMessagesTipKase">
                </div>

                @using (Ajax.BeginForm("CreateTipKasePost", "Kasa", new AjaxOptions { HttpMethod = "POST", OnSuccess = "responseTipKase(data, status, xhr)" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label for="Naziv" class="col-form-label col-md-6">Naziv Kase:</label>
                            <div class="col-md-10">
                                <input type="text" id="Naziv" name="Naziv" class="form-control" value=" " />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Dodaj" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                }

                <script>
                    function responseTipKase(data, status, xhr) {

                        var string = data + '';
                        var stringSplit = string.split(',');

                        $("#errorMessagesTipKase").empty();

                        if (!xhr.getResponseHeader('X-Error')) {
                            swal({
                                type: 'success',
                                title: 'Tip kase dodan!',
                                showConfirmButton: true
                            }).then(function () {
                                $('#createTipKaseModal').modal('toggle');
                                $('body').removeClass('modal-open');
                                $('.modal-backdrop').remove();

                                $('#TipKaseId').append($('<option/>', {
                                    value: data["TipKaseId"],
                                    text: data["Naziv"],
                                    selected:true
                                }));
                            });
                        } else {
                            for (var i = 0; i < stringSplit.length; i++) {
                                $("#errorMessagesTipKase").append("<div class='alert alert-danger col-md-12 col-sm-12 offset-12'><strong>Error!</strong> " + stringSplit[i] + "</div>");
                            }
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>

@*skripta za handlanje resulta ajax forme*@
<script>
    function response(data, status, xhr) {

        var string = data + '';
        var stringSplit = string.split(',');

        $("#errorMessages").empty();

        if (!xhr.getResponseHeader('X-Error')) {
            swal({
                type: 'success',
                title: 'Kasa @(Model.KasaId != 0?"izmjenjena":"dodana")',
                showConfirmButton: true
            }).then(function () {
                window.location.href = "/Kasa/Index";
            });
        } else {
            for (var i = 0; i < stringSplit.length; i++) {
                $("#errorMessages").append("<div class='alert alert-danger error mb-2'><strong>Error!</strong> " + stringSplit[i] + "</div>");
            }
        }
    }
</script>
