﻿@model DAL.ViewModel.GradCreateVM

@*div u kojem se ispisuju error poruke*@
<div id="errorMessagesGrad">
</div>

@using (Ajax.BeginForm("CreateGrad", "Klijent", new AjaxOptions { HttpMethod = "POST", OnSuccess = "responseGrad(data, status, xhr)" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label for="Naziv" class="col-form-label col-md-6">Naziv Grada:</label>
            <div class="col-md-10">
                <input type="text" id="Naziv" name="Naziv" class="form-control" value=" " />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<script>
        function responseGrad(data, status, xhr) {

            var string = data + '';
            var stringSplit = string.split(',');

            $("#errorMessagesGrad").empty();

            if (!xhr.getResponseHeader('X-Error')) {
                swal({
                    type: 'success',
                    title: 'Grad dodan!',
                    showConfirmButton: true
                }).then(function () {
                    $('#createGradModal').modal('toggle');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    $('#GradId').append($('<option/>', {
                        value: data["GradId"],
                        text: data["Naziv"],
                        selected:true
                    }));
                });
            } else {
                for (var i = 0; i < stringSplit.length; i++) {
                    $("#errorMessagesGrad").append("<div class='alert alert-danger col-md-12 col-sm-12 offset-12'><strong>Error!</strong> " + stringSplit[i] + "</div>");
                }
            }
        }
</script>

