﻿@model IEnumerable<DAL.ViewModel.KlijentVM>

@{
    ViewBag.Title = "Klijenti";
    var numberOfPages = (int)ViewBag.numberOfPages;
    var currentPage = (int)ViewBag.currentPage;

    //filteri
    var searchInput = (string)ViewBag.searchInput;
    var dateFrom = (string)ViewBag.dateFrom;
    var dateTo = (string)ViewBag.dateTo;
}


<div class="container-style">
    @*filteri za pretragu klijenata i dugme za dodavanje novog klijenta*@
    <div id="filterWrapper">
        <form action="/Klijent/Index" method="get" class="form-inline">
            <a href="" data-toggle="modal" data-target="#infoModal" class="mr-1" title="Informacije o pretrazi..."><i class="fa fa-info-circle icon-size" aria-hidden="true" style="color:#168ece"></i></a>
            <input id="searchInput" type="text" name="searchInput" class="form-control mr-1" placeholder="Pretraga..." value="@searchInput" />

            <span class="col-xs-1" for="dateFrom" style="margin-right:1%;"><strong>Od:</strong></span>
            <input id="dateFrom" type="date" class="form-control mr-1" name="dateFrom" value="@dateFrom" />

            <span class="col-xs-1" for="dateTo" style="margin-right:1%;"><strong>Do:</strong></span>
            <input id="dateTo" type="date" class="form-control mr-2" name="dateTo" value="@dateTo" placeholder="Do" />

            <button id="searchBtn" type="submit" class="btn createBtn form-control mr-2 pointer">Pretraži&nbsp;<i class="fa fa-search fa-fw"></i></button>

            <a id="clearFilterBtn" href="/Klijent/Index" class="btn btn-danger form-control mr-2 pointer">Očisti filtere&nbsp;<i class="fa fa-times fa-fw"></i></a>
        </form>
    </div>

    <div style="margin-bottom:2%;">
        @Html.ActionLink("Dodaj Klijenta", "Create", null, new { @class = "btn btn-info" })
    </div>
    @*tabela sa listom klijenata*@
    @if (Model.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:14.28%;">Grad</th>
                    <th scope="col" style="width:14.28%;">Ime Klijenta</th>
                    <th scope="col" style="width:14.28%;">Alias</th>
                    <th scope="col" style="width:14.28%;">Telefon</th>
                    <th scope="col" style="width:14.28%;">Adresa</th>
                    <th scope="col" style="width:14.28%;">Dodan</th>
                    <th scope="col" style="width:14.28%;">Izmjenjen</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr style="background: rgba(164, 209, 234, 0.1);" onclick="location.href = '@Url.Action("Details", "Klijent", new {id = item.KlijentId})'">
                    <td scope="row" data-label="Grad">@Html.DisplayFor(modelItem => item.Grad)</td>
                    <td data-label="Ime Klijenta">@Html.DisplayFor(modelItem => item.Ime)</td>
                    <td data-label="Alias">@Html.DisplayFor(modelItem => item.Alias)</td>
                    <td data-label="Telefon">@Html.DisplayFor(modelItem => item.Telefon)</td>
                    <td data-label="Adresa">@Html.DisplayFor(modelItem => item.Adresa)</td>
                    <td data-label="Dodan">@item.DatumDodavanja.ToString("dd/MM/yyyy HH:mm")</td>
                    <td data-label="Izmjenjen">@item.DatumUredjivanja.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert" style="text-align:center; background-color:rgba(175,175,175,0.1);">
            <h5>Nije pronađen nijedan klijent</h5>
        </div>
    }

    @*paginacija*@
    @if (numberOfPages > 1)
    {
        <div class="container">
            <ul class="pagination pagging-alignment">
                <li class="page-item  @(currentPage == 0?"disabled":"") "><a class="page-link" href="/Klijent/Index?currentPage=@(currentPage-1)">Prethodni</a></li>

                @for (int i = 0; i < numberOfPages; i++)
                {
                    <li class="page-item @(currentPage == i?" active":"")"><a class="page-link" href="/Klijent/Index?currentPage=@i">@(i + 1)</a></li>
                }

                <li class="page-item @(currentPage == numberOfPages-1?"disabled":"")"><a class="page-link" href="/Klijent/Index?currentPage=@(currentPage+1)">Sljedeći</a></li>
            </ul>
        </div>
    }
</div>



<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Pretraga se može vršiti po sljedećim parametrima:
                <ul>
                    <li>Ime Klijenta</li>
                    <li>Grad</li>
                    <li>Alias</li>
                    <li>Telefon</li>
                    <li>Adresa</li>
                </ul>
            </div>
        </div>
    </div>
</div>
