﻿<!DOCTYPE html>
<html lang="en">
<head>
    @{
        var user = Request.Cookies["korisnik"]["korisnickoIme"];
    }
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    @*Bootstrap core CSS*@
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    @*Custom styles for this template*@
    <link href="~/vendor/bootstrap/css/simple-sidebar.min.css" rel="stylesheet" />

    @*Custome table style*@
    <link href="~/vendor/bootstrap/css/table-style.min.css" rel="stylesheet" />


    @*Sweet alert*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.min.css" rel="stylesheet" />

    @*Form style*@
    <link href="~/vendor/bootstrap/css/form-style.min.css" rel="stylesheet" />

    @*Font*@
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">

    @*Font awesome*@
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        body {
            font-family: 'Open Sans' !important;
            font-size: 85% !important;
            background: #f3f5f8 !important;
        }

        .navbar-shadow {
            box-shadow: 0 0 10px rgba(0,0,30,0.5);
            z-index: 99;
        }

        .alert-warning-override {
            color: #a33;
            background-color: #fe0;
            border-color: none;
        }

        .fa-override {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .noTransition {
            -moz-transition: none !important;
            -o-transition: none !important;
            -webkit-transition: none !important;
            transition: none !important;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light navbar-shadow" style="background-color:white; display:inline-block; padding-bottom:0;">
        <div class="d-flex flex-nowrap">
            <div class="flex-last p-2">
                <a href="#menu-toggle" style="text-decoration:none; max-width:30px" id="menu-toggle"><i class="fa-override fa-bars" style="text-decoration:none; font-size:1.5rem; color:#334;"></i></a>
            </div>
            <div class="p-2">
                <a href="/Klijent/Index">
                    <img src="~/Images/helpDeskLogo.png" style="height:80%"/>
                </a>
            </div>
        </div>
    </nav>
    <div id="wrapper" style="margin-top:60px" >
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav list-group">
                <li class="ulItems @(Session["Selected"]!=null && Session["Selected"] == "KorisnikIndex"?"selected":"")" id="KorisnikIndex">
                    <a href="/Korisnik/Index"><i class="fa fa-user-o icon-size fa-fw ml-4" aria-hidden="true"></i>&nbsp;@user.ToString().Replace(" ", String.Empty)</a>
                </li>
                <li class="ulItems @(Session["Selected"]!=null && Session["Selected"] == "KlijentIndex"?"selected":"")" id="KlijentiIndex">
                    <a href="/Klijent/Index"><i class="fa fa-users icon-size fa-fw ml-4"></i>&nbsp;Klijenti</a>
                </li>
                <li class="ulItems @(Session["Selected"]!=null && Session["Selected"] == "IntervencijaIndex"?"selected":"")" id="IntervencijeIndex">
                    <a href="/Intervencija/Index"><i class="fa fa-wrench icon-size fa-fw ml-4"></i>&nbsp;Intervencije</a>
                </li>
                <li class="ulItems @(Session["Selected"]!=null && Session["Selected"] == "KasaIndex"?"selected":"")" id="KaseIndex">
                    <a href="/Kasa/Index"><i class="fa fa-calculator icon-size fa-fw ml-4"></i>&nbsp;Kase</a>
                </li>
                <li class="ulItems @(Session["Selected"]!=null && Session["Selected"] == "RacunarIndex"?"selected":"")" id="RacunariIndex">
                    <a href="/Racunar/Index"><i class="fa fa-desktop icon-size fa-fw ml-4"></i>&nbsp;Računari</a>
                </li>
                <li class="ulItems">
                    <a href="/Authentication/LogOut"><i class="fa fa-sign-out icon-size fa-fw ml-4"></i>&nbsp;Odjavi se</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    @* jquery js *@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @* mvc ajax *@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @* sweet alert js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.min.js"></script>

    @* popper js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    @* bootstrap js *@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
        var wrapper = $("#wrapper");
        var sidebar_wrapper = $("#sidebar-wrapper");
        var sidebar_state = localStorage.getItem("sidebarState");

        $(document).ready(function () {
            if (sidebar_state == "toggled") {
                wrapper.addClass(sidebar_state);
                wrapper.addClass("noTransition");
                sidebar_wrapper.addClass("noTransition");

                setTimeout(function () {
                    wrapper.removeClass("noTransition");
                    sidebar_wrapper.removeClass("noTransition");
                },500)
            }
        })

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            wrapper.toggleClass("toggled");

            if (wrapper.hasClass('toggled')) {
                localStorage.setItem("sidebarState", "toggled");
            } else {
                localStorage.setItem("sidebarState", "");
            }
        })

    </script>
</body>
</html>
