﻿@model DAL.ViewModel.KorisnikCreateVM

@{
    var allErrors = (List<string>)ViewBag.allErrors;
}

<div id="errorMessages">
    @if (allErrors != null)
    {
        foreach (var item in allErrors)
        {
            <div class='alert alert-danger col-md-12 col-sm-12 offset-12'>
                <strong>Error!</strong>@item.ToString()
            </div>
        }
    }
    </div>
@using (Ajax.BeginForm("Create", "Korisnik", null, new AjaxOptions { UpdateTargetId = "userAjax", HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.KorisnikId)
    
    <table class="table table-user-information">
        <tbody>
            <tr>
                <td style="width:50%;" class="align-content-right">Ime:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="text" name="Ime" value="@Html.DisplayFor(x => x.Ime)" /></td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Prezime:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="text" name="Prezime" value="@Html.DisplayFor(x => x.Prezime)" /></td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Username:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="text" name="UserName" value="@Html.DisplayFor(x => x.UserName)" /></td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Stari password:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="password" name="StariPassword" value="" /></td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Novi password:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="password" name="Password" value="" /></td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Email:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="text" name="Email" value="@Html.DisplayFor(x => x.Email)"/> </td>
            </tr>
            <tr>
                <td style="width:50%;" class="align-content-right">Telefon:</td>
                <td style="width:50%;" class="align-content-left"><input class="form-control" type="tel" name="Telefon" value="@Html.DisplayFor(x => x.Telefon)" /></td>
            </tr>
        </tbody>
    </table>

    <input type="submit" value="Uredi" class="btn btn-info form-control col-md-3 col-sm-6 col-xs-12 pointer" />
}
