﻿@model DAL.ViewModel.KorisnikVM

@{
    ViewBag.Title = "Profil";
}

<div id="detailsCard" class="card offset-4" style="box-shadow:0 10px 10px rgba(0,0,0,0.1)">
    <h1 class="card-header" style="text-align:center;background-color: #334; color:white;">@(Model.Ime + " " + Model.Prezime)</h1>
    <div class="card-block card-body text-center">
        <div id="userAjax">
            @Html.Partial("Index_Partial", Model)
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

